html {
	background-color: black;
}

body {
  height: 5000px;
	font-size: 1.2em;

	@media (max-width: 720px) {
		font-size: 1em;
	}
}

h1, h2, h3, p {
	color: white;
	margin: 0;
}

p {
	font-size: 1.3em;
	line-height: 130%;
}

@media (max-width: 720px) {
	.wide-only-text {
		display: none;
	}
}


.header-group {
	width: 100%;
	margin-top: 30px;
	background-color: rgb(0, 0, 0);
	padding-bottom: 20vh;
	padding-top: 10vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10vh;

	overflow: hidden;

	.title-container {
		height: 46vw;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 5vw 10vw 10vw 10vw;
		position: relative;
	}
	.text-flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 5;
		font-size: 1.6vw;
	}

	.title-one {
		justify-content: flex-start;
		margin-bottom:0vw;

		.text-flex {
			
			h1 {
				font-size: 6em;
				font-weight: 600;
			}
			h2 {
				font-size: 1.7em;
				margin-top: -3vw;
			}
		}
		
		img {
			position: absolute;
			object-fit: contain;
			right: 3vw;
			height: 90%;
		}
	}
	.title-two {
		justify-content: flex-end;
		padding: 12vw;

		.text-flex {

			h2 {
				font-family: "dust-caps";
				font-size: 3em;
			}
			img {
				width: 25vw;
			}
		}
		.bg-image {
			position: absolute;
			object-fit: contain;
			left: 5vw;
			height: 90%;
		}
		
	}

	@media (max-width: 720px) {
		display:flex;
		flex-direction: column;
		row-gap: 0px;
		padding-bottom: 120px !important;
		padding-top: 10vw;

		.title-container {
			height: 150vw !important;
			flex-direction: column;
			justify-content: center !important;
			row-gap: 50px;
			padding: 20px 40px;
		}
		.text-flex {
			font-size: 0.6em !important;
			img {
				width: 200px !important;
			}
			.in-dev {
				margin-top: -0.9em !important;
			}
			.adv-by {
				margin-bottom: -0.1em !important;
				font-size: 4em !important;
			}
		}
		img {
			position: relative !important;
			left: 0 !important;
			right: 0 !important;
		}

		.bg-image {
			padding: 20px 0px;
			&.forest {
				transform: translateX(30px) scale(1.6);
			}
			&.rockroom {
				padding: 80px 0px 60px 0px !important;
				transform: translateX(-10px) scale(1.7) !important;
			}
		}
	}
}



.introduction {
	height: fit-content;
	width: 100%;
	background-image: url(/earthen/light-bg.jpg);
	background-position: 50% 60%;
	background-size: cover;

	display:flex;
	justify-content: center;
	align-items: center;

	font-size: 1em;

	* {
		color: black;
	}

	.player-holder {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30%;

		canvas {
			width: 200%;
		}
	}

	.text-flex {
		text-align: center;
		padding: 4vw;
		width: 70%;
		max-width: 1200px;
		h2 {
			font-weight: 600;
			font-size: 2.1em;
			margin-bottom: 2vw;
		}
		p {
			font-size: 1em;
		}
	}

	@media (max-width:1080px) {
		flex-direction: column;
		padding: 70px 0px;
		font-size: 1.1em;

		
		.text-flex {
			padding: 0;
			text-align: center;
			h2 {
				margin-bottom: 5vw;
				font-size: 1.6em !important;
			}
			p {
				font-size: 1em !important;
			}
		}
		canvas {
			width: 200% !important;
		}
	}

	@media (max-width: 1080px) {

	}
}

.open-world {
	// height: 60vw;
	min-height: fit-content;
	width: 100%;
	background-color: black;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	font-size: 1em;

	padding: 7vw 10vw 7vw 10vw;

	position: relative;

	overflow: hidden;

	.text-flex {
		position: none;
		width: 100%;
		z-index: 2;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 3vw;

		h2, p {
			text-align: left;
			text-wrap: pretty;
		}
		h2 {
			font-size: 2.2em;
			font-weight: 600;
		}
		p {
			max-width: 25%;
			font-size: 1em;

			@media (max-width: 950px) {
				max-width: 40%;
			}
		}
	}

	img {
		position: absolute;
		object-fit: contain;
		
		right: 0;
		top: 50%;
		transform: translateY(-50%);

		width: 65vw;
		max-height: 100%;
		z-index: -1

		
	}
	@media (max-width: 950px) {
		img { width: 55vw; transform: translateY(-40%);}
		
	}

	@media (max-width: 720px) {
		
		padding: 10vw 8vw;

		.text-flex {
			align-items: center;
			padding: 0vw 0vw !important;
			row-gap: 5vw;

			h2, p {
				text-align: center;
			}
			h2 {
				font-size: 1.5em;
			}
			p {
				max-width: 100%;
			}
		}

		img {
			position: relative;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			transform: translateY(0) scale(1.3);
			width: 100%;
		}
	}
}

.features {
	height: fit-content;
	padding-bottom: 0vw;
	padding-top: 2vw;
	width: 100%;

	background-image: url(/earthen/features-bg.jpg);
	background-position: 50% 0%;
	background-size: cover;

	display: flex;
	justify-content: center;

	.features-inner {
		height: fit-content;
		width: 90%;
		
	
		display:flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.features-title {
		h1 {
			margin: 3vw;
			font-size: 2.5em;
			font-weight: 900;
		}
	}	

	.feature-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		align-items: flex-start;
		row-gap: 60px;
		padding: 0 3vw 100px 3vw;
		column-gap: 2vw;

		.feature {
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			row-gap: 15px;

			img {
			width: 100%;
			height: 25vw;
			object-fit: cover;
			}
			h3 {
				font-size: 1.5em;
				font-weight: 600;
				margin-bottom: -5px;
			}
			p {
				text-align: center;
				width: 90%;
				font-size: 1em;
				margin-top: -8px;
				text-wrap: pretty;
			}
		}
	}

	@media (max-width: 720px) {
		
		.features-title {
			margin: 5vw 0vw;
			h1 {
				font-size: 1.8em !important;
			}
		}

		.feature-grid {
			grid-template-columns: 1fr;
			padding: 0;
			row-gap: 15vw;

			img {
				height: 50vw !important;
			}
			h3 {
				font-size: 1.3em !important;
			}
			p {
				width: 100%;
			}
		}
	}
}

.features-title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	.line {
		background-color: white;
		height: 1px;
		min-width: 100px;
		width: 100%;
		flex-grow: 1;
	}
}	


// CAROUSEL

.screenshots {
	overflow: hidden;
	height: fit-content;
	background-color: black;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	row-gap: 2vw;

	padding-top: 100px;
	padding-bottom: 10vw;

	background-image: url('/earthen/bball-bg.png');
	background-position: 50% 10%;
	background-size: cover;
	h1 {
		font-weight: 900;
		margin: 0vw 0vw;
		font-size: 2.5em;
	}
	.concept-art-title {
		margin-top: 200px;
	}

	@media (max-width: 720px) {
		h1 {
			font-size: 1.6em;
			opacity: 0.7;
		}
	}
}


.carousel {
	position: relative;
	height: 45vw;
	max-height: 70vh;
	width: 80vw;
	margin: 0 auto;

	.carousel__track-container {
		// background: lightGreen;
		height: 100%;
		position: relative;
		overflow: hidden;

		.carousel__track {
			padding: 0;
			margin: 0;
			list-style: none;
			position: relative;
			height: 100%;
			transition: 250ms ease-out;

			.carousel__slide {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100%;

				.carousel__image {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}

	.carousel__button {
		position: absolute;
		top: 50%;
		height: 400px;
		transform: translateY(-50%) scale(1.5);
		background: transparent;
		border: 0;
		cursor: pointer;

		@media (min-width: 720px) {
			opacity: 0.5;
		}
		

		z-index: 3;
		transition: 150ms;

		@media (min-width: 1450px) {
			&.left {
				left: 50px !important;
			}
			&.right {
				right: 50px !important;
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: 100px; /* Adjust as needed */
			bottom: 100px; /* Adjust as needed */
			left: -100px; /* Adjust as needed */
			right: -100px; /* Adjust as needed */
			background: transparent;
		}

		&:hover {
			transform: translateY(-50%) scale(2);
			opacity: 1;
		}

		img {
			width: 12px;
		}

		&.left {
			left: -40px;
		}
		&.right {
			right: -40px;
		}
	}
}

.carousel__nav {
	// background: rgba(255, 192, 203, 0.097);
	display: flex;
	justify-content: center;
	padding: 15px 0;

	.carousel__indicator {
		border: 0;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		background: rgba(255, 255, 255, 0.3);
		margin: 0 8px;
		cursor: pointer;

		opacity: 0.7;

		transition: 150ms;

		&:hover {
			transform: scale(1.3);
			opacity: 1;
		}

		&.current-slide {
			background: rgba(255, 255, 255, 0.75);
		}
	}

}

.is-hidden { opacity: 0 !important; pointer-events: none; }

@media (max-width: 720px) {
	.carousel__button {
		z-index: 10 !important;
		opacity: 0.3;
		&.left {
			left: 15px !important;
		}
		&.right {
			right: 15px !important;
		}
		transform: translateY(-50%) scale(1) !important;
		&:hover {
			transform: translateY(-50%) scale(1) !important;
			opacity: 0.5 !important;
		}
	}
	.carousel__indicator {
		width: 10px !important;
		height: 10px !important;
		margin: 0 5px !important;
	}
	// .carousel {
	// 	height: 45vw;
	// 	width: 80vw;
	// 	height: 50.1vw !important;
	// 	width: 90vw !important;
	// }

	.concept-art-title {
		margin-top: 19vw !important;
	}

	.screenshots {
		padding-bottom: 30vw;
	}
}