body {
  height: 5000px;
}

h1, h2, h3, p {
	color: white;
	margin: 0;
}

p {
	font-size: 1.3em;
	line-height: 130%;
}

.header-group {
	width: 100%;
	margin-top: 30px;
	background-color: rgb(0, 0, 0);
	padding-top: 5vw;
	padding-bottom: 12vw;

	.title-container {
		height: 46vw;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 10vw;
		position: relative;
	}
	.text-flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 5;
		font-size: 1.6vw;
	}

	.title-one {
		justify-content: flex-start;
		margin-bottom:0vw;

		.text-flex {
			
			h1 { // For all children text
				font-size: 6em;
				font-weight: 600;
			}
			h2 {
				font-size: 1.7em;
				margin-top: -3vw;
			}
		}
		
		img {
			position: absolute;
			object-fit: contain;
			right: 3vw;
			height: 90%;
		}
	}
	.title-two {
		justify-content: flex-end;
		padding: 12vw;

		.text-flex {

			h2 {
				font-family: "dust-caps";
				font-size: 3em;
			}
			img {
				width: 25vw;
			}
		}
		.bg-image {
			position: absolute;
			object-fit: contain;
			left: 5vw;
			height: 90%;
		}
		
	}
}

.introduction {
	height: fit-content;
	width: 100%;
	background-image: url(/earthen/light-bg.jpg);
	background-position: 50% 60%;
	background-size: cover;

	display:flex;
	justify-content: center;
	align-items: center;

	font-size: 1em;

	* {
		color: black;
	}

	.player-holder {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30%;

		canvas {
			width: 200%;
		}
	}

	.text-flex {
		text-align: center;
		padding: 4vw;
		width: 70%;
		max-width: 1200px;
		h2 {
			font-weight: 600;
			font-size: 2.1em;
			margin-bottom: 2vw;
		}
	}

	@media (max-width:1200px) {
		flex-direction: column;
		font-size: 1.1em;
		h2 {
			margin-bottom: 5vw;
			font-size: 2em !important;
		}
		.text-flex {
		text-align: center;
		padding: 0vw 2vw 8vw 2vw;
		}
		canvas {
			width: 200% !important;
		}
	}
}

.open-world {
	height: 60vw;
	min-height: fit-content;
	width: 100%;
	background-color: black;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	font-size: 1em;

	padding: 7vw 10vw 7vw 10vw;

	position: relative;

	.text-flex {
		width: 100%;
		z-index: 2;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 3vw;

		* {
			text-align: left;
			text-wrap: pretty;
		}
		h2 {
			font-size: 3em;
			font-weight: 600;
		}
		p {
			max-width: 25%;
			font-size: 1.2em;
		}
	}

	img {
		position: absolute;
		object-fit: cover;
		right: 5vw;
		width: 65vw;
	}
}

.features {
	height: fit-content;
	padding-bottom: 20vw;
	background-color: gray;
	width: 100%;

	background-image: url(/earthen/features-bg.jpg);
	background-position: 25% 0%;
	background-size: cover;

	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.features-title {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 93%;
		margin: 0 0 1vw 0;

		.line {
			background-color: white;
			height: 1px;
			min-width: 100px;
			width: 100%;
			flex-grow: 1;
		}
		h1 {
			margin: 3vw;
			font-size: 2.5em;
			font-weight: 900;
		}
	}	

	.feature-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		align-items: flex-start;
		row-gap: 60px;
		padding: 0 3vw 5vw 3vw;
		column-gap: 2vw;

		.feature {
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			row-gap: 15px;

			img {
			width: 100%;
			height: 25vw;
			object-fit: cover;
			}
			h3 {
				font-size: 1.5em;
				font-weight: 600;
			}
			p {
				text-align: center;
				width: 90%;
				font-size: 1em;
				margin-top: -8px;
				text-wrap: pretty;
			}
		}
		
	}
}

.screenshots {
	height: 100vw;
	background-color: black;
	width: 100%;
}