html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden; /* Prevent scrolling */
	display: flex;
	justify-content: center;
	align-items: center;
}

.background {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(/illustration/giant.jpg);
	background-size: cover;

	overflow-x: hidden;
	overflow-y: auto;
}

.category-container {
	width: 100%;
	max-width: 100%;
	background-color: rgba(255, 255, 255, 0.812);
	// padding: 0 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;

	position: relative;

	color: black;
}

h1 {
	position: absolute;
	top: 30px;
	// right: 20px;
	font-size: 3em;
	opacity: 0.5;
	font-weight: 900;
	font-family: "naot";
}

h2 {
	font-size: 1.1em;
	margin-bottom: 70px;
	font-weight: 600;
}

h3, h4 {
	font-size: 1.2em;
	width: 100%;
	padding: 20px;
	margin: 0;
	transition: 200ms;
	transform-origin: center;
}

h4 {
	color: rgba(0, 0, 0, 0.52);
	font-weight: 100;
}

a {
	width: 500px;
	max-width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		background-color: black;
		&.back {
			background-color: rgba(0, 0, 0, 0.542);
		}
		h3, h4 {
			
			transform: scale(1.1);
		}
		h3 {color: white;}
		h4 {color: rgba(255, 255, 255, 0.49);}
	}
}

@media (max-width: 720px) {
	a {
		text-align: center;
		width: 100%;
	}
	.category-container {
		width: 100%;
	}
	h3, h4 {
		transform-origin: center;
	}
}