---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import '../styles/about.scss'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={'About Me'} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="spacer"></div>

		<div class="layout">
			<div class="intro">
				<div class="intro-image">
					<img src="/illustration/treefull.jpg"/>
				</div>
				
				<div class="intro-text">
					<h1>Hi! My name is Josh.</h1>
					<p>
						I'm an illustrator, animator, and game designer in my Junior year studying Illustration at Rhode Island School of Design.
						Take a look at some of my projects above!
					</p>
					<p>
						I love designing narrative experiences that consume the viewer, whether in comics, short films, or games. I hope for my work to evoke a sense of curiosity and exploration. In my interactive work, I'm interested in exploring how the medium of games can be used as a mode of learning.
					  I'm the lead artist at <a href="https://lukko.digital" target="_blank">Lukko Digital</a>,
						where we're exploring these ideas now - check out our <a href="https://lukko-digital.itch.io/bladebearer-recarved" target="_blank">latest project!</a>
					</p>
					<p>
						If you'd like to work with me, or recieve a sample of any of my game projects, please reach out at any of my socials below, or shoot me an email at <b>joshuatehrlich@gmail.com</b>
					</p>
					<p style="margin:0"><a href="/resume.Joshua-Ehrlich-Resume-2025.pdf" download>Download my resume here</a></p>
					
				</div>
				
			</div>
			<!-- <h2>Thanks for stopping by!</h2> -->
		</div>
		
		

		<Footer />
	</body>
</html>
