---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import '../styles/animations.scss';
---

<!doctype html>
<html class="gamejamstyle" lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="invert-colors"><Header class="header"/></div>
		
			

			<!-- <div class="intro">
				<h1>Animations</h1>
				<p>
					Check out my short animations below!
				</p>
			</div>
			 -->
			<div class="jams-section">

				<div class="jam bread">
					<div class="jam-content bread">
						<div class="video">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/K-TRRPV8mhc?si=0bICeT627p63XRz-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
						<div class="content">
							<h1>Bread</h1>
							<h2>A short film about a hard day.</h2>
							<p>Additional credits:<br>Eli Smirin - Soundtrack<br>Anjali Gauld - Protagonist's Voice</p>
						</div>
					</div>
					<div class="jam-bg bread"></div>
				</div>

				<div class="jam crush">
					<div class="jam-content crush">
						<div class="video">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/3POi_rnWniw?si=qsgf3RNzpXAxYNbK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>						</div>
						<div class="content">
							<h1>CRUSH</h1>
							<h2>A short animation about transit.</h2>
						</div>
					</div>
				</div>

			</div>
			
			<Footer />

		</div>
	</body>
</html>