---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import '../styles/dust.scss';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header/>

		<!-- Handles Animations -->
		<script src="../components/animation/AnimDust.js"></script>

		<!-- PARALLAX BG ELEMENTS -->
		<img class="parallax-image p6" src="/dust/parallax-vista/6.png">
		<img class="parallax-image p5" src="/dust/parallax-vista/5.png">
		<img class="parallax-image p4" src="/dust/parallax-vista/4.png">
		<img class="parallax-image p3" src="/dust/parallax-vista/3.png">
		<img class="parallax-image p2" src="/dust/parallax-vista/2.png">
		<img class="parallax-image p1" src="/dust/parallax-vista/1.png">

		<div class="parallax-content">
			<img src="/dust/title.png" class="title">
		</div>

		<div class="content-background"></div>

		<Footer />
	</body>
</html>