---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import '../styles/earthen.scss';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>

		<!-- Handles Animations -->
		<script src="../components/animation/AnimEarthen.js"></script>

		<Header />
		<div class="earthen">

			<div class="header-group">
				<div class="title-one title-container">
					<div class="text-flex">
						<h1>Earthen</h1>
						<h2>Currently in development</h2>
					</div>
					<img src="/earthen/forest-edit.jpg">
				</div>
				<div class="title-two title-container">
					<div class="text-flex">
						<h2>an adventure by</h2>
						<img src="/earthen/lukko-text.png">
					</div>
					<img class="bg-image" src="/earthen/rockroom-edit.jpg">
				</div>
			</div>

			<div class="introduction">
				<div class="player-holder">
					<canvas id="player"></canvas>
				</div>
				<div class="text-flex">
					<h2>An Open World Discovery-Based Adventure</h2>
					<p>
						You awaken deep underground. Humanity has not seen the surface for eons. <b>The Creators</b> have long past. Can you uncover the <b>mysteries of Rustaveli,</b> and <b>escape to the surface?</b><br><br>

						Meet strange characters, and explore the underground, learning both it's dangers and secrets. Use the telephone system to call <b>tunneling pods</b> to travel between regions, and <b>learn their true mechanics</b> to unlock new areas. Interface with ancient technology, and learn it's inner workings in order to solve puzzles left behind by your ancestors.<br><br>
						
						Earthen is a <b>pure discovery game.</b> All abilities are present from the moment the game begins. You just have to uncover them. <b>Seek the surface, and the truth.</b>
					</p>
				</div>
			</div>

			<div class="open-world">
				<div class="text-flex">
					<h2>Non-linear Level Design</h2>
					<p>
						Like all of the scout's technology, your <b>pod</b> was designed to explore and research the world left behind by the <b>Creators.</b><br><br>

						Use your pod to travel between the underground pockets of Rustaveli. You'll soon realize it's far more powerful than you'd imagined.<br><br>

						As you visit locations, <b>gather intel</b> and store it in your logs for later use. Discover backdoors, and shortcuts. <b>Preserve your fuel</b>, and learn to make it last longer. Fly safely, and don't crash!<br><br>
					</p>
				</div>
				<img src="/earthen/pod-edit.png">
			</div>

			<div class="features">
				<h1>Features</h1>
				<div class="feature-grid">
					<div class="feature ft1">
						<img>
						<h3>Handcrafted Puzzles</h3>
						<p></p>
					</div>
					<div class="feature ft2">
						<img>
						<h3>Impactful Dialogue</h3>
						<p></p>
					</div>
					<div class="feature ft3">
						<img>
						<h3>File-System Puzzles</h3>
						<p></p>
					</div>
					<div class="feature ft4">
						<img>
						<h3>Layered Discoveries</h3>
						<p></p>
					</div>
				</div>
			</div>
			

		</div>
		
		
		

		
		

		<Footer />

	</body>
</html>

<style>

h1 {
	text-align: center;
}

</style>