---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const imgs = [
	{
		path: "giant",
		width: 3
	},{
		path: "balloon",
		width: 1
	},{
		path: "alice",
		width: 1
	},{
		path: "desert",
		width: 3
	},{
		path: "siftgun",
		width: 3
	}
]
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		<div class="ptop"></div>
		<div class="parallax-viewport">
			<div class="parallax-layer">
			</div>
				<h3>View a selection</h1>
				<p>of my illustrations below</p>
			</div>
		<div class="pbot"></div>

		<div class="gallery">
			{imgs.map((img) => (
				<img src=`/illustration/${img.path}.jpg` />
			))}
		</div>

		<Footer />
	</body>
</html>

<style>


.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 80vh;
	margin: 70px 90px 50px 90px;
	column-gap: 10px;
	row-gap: 10px;
}
.gallery img {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	background-position: center;
	border-radius: 2px;

	transition: 150ms;

	text-decoration: none;
}
.gallery img:hover {
	opacity: 0.5;	
}

/* -------------------- PARALLAX -------------------- */

/* covers */
.ptop, .pbot {
	width: 100%;
	background-color: white;
	position: absolute;
	z-index: -1
}
.ptop {
	top: 0;
	height: 120px;
}
.pbot {
	top: 50vh;
	height: 100%;
}

/* viewport */
.parallax-viewport {
	display: flex;
  height: 44vh;
  z-index: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* text */
.parallax-viewport h3, .parallax-viewport p {
	color: white;
	margin: 0;
	padding: 0;
	animation: parallaxScrollSlow linear forwards;
  animation-timeline: scroll();
	z-index: -2;
}
@keyframes parallaxScrollSlow {
  to {
    transform: translateY(300px);
  }
}
.parallax-viewport p {
	font-size: 24px;
}

/* image */
.parallax-layer {
  height: 50vh;
	width: 100%;
  background-image: url('./illustration/forest.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 60px;
  animation: parallaxScroll linear forwards;
  animation-timeline: scroll();
  z-index: -2;
}
@keyframes parallaxScroll {
  to {
    transform: translateY(400px);
  }
}

</style>