---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import '../styles/header.scss'
---

<header>
	<nav>
		<h2 class="site-title"><a href="/about">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink class="header-link" href="/illustration">
				<span class="full-text">llustration</span>
				<span class="short-text">Illust</span>
			</HeaderLink>
			<HeaderLink class="header-link" href="/dust">Dust</HeaderLink>
			<HeaderLink class="header-link" href="/earthen">Earthen</HeaderLink>
			<HeaderLink class="header-link" href="/about">
				<span class="full-text">About</span>
				<span class="short-text">About</span>
			</HeaderLink>
		</div>
		<div class="header-contacts">
			<a href="/about">joshuatehrlich@gmail.com</a>
			<a href="/about" class="number">(415) 715 - 7992</a>
		</div>
	</nav>
</header>