---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		padding: 16px;
		padding-top: 40px;

		flex-grow: 1;
		text-decoration: none;
		font-size: 1em;
		margin: 0;
		cursor: pointer;
		text-align: center;
		background-color: rgba(212, 212, 212, 0);
		color: rgb(60, 60, 60);
		transition:
			background-color 0.2s,
			color 0.2s;
	}
	a:hover, a.active {
		background-color: rgb(188, 188, 188);
		/* color: rgb(255, 255, 255); */
	}
	a.active {
		background-color: black;
		color: white;
	}
</style>
