.animations-section {
	height: fit-content;
	display: flex;
	flex-direction: column;
	margin: -70px auto 8vw auto;
	width: 100%;

	@media (min-width: 1400px) {
		margin-bottom: 0;
	}

	.jam {
		
		height: auto;
		background-repeat: no-repeat;
		overflow: hidden;
		position: relative;
	
		* {
			color: white;
		}

		.jam-content {
			height: 100%;
			width: 100%;
			display: grid;
			align-items: center;
			column-gap: 3vw;
			row-gap: 6vw;
			grid-template-columns: 1fr 30%;

			padding: 10vw 6vw;

			.description {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}

			.iframe-wrapper {
				position: relative;
				padding-bottom: 56.25%;
				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 20px;
				}
			}

			.details {
				width: 100%;
				height: auto;
				grid-column: 1 / -1;

				display: grid;
				grid-template-columns: 1fr 40%;
				column-gap: 4vw;
				
				.storyboard {
					display: flex;
					align-content: stretch;
				}

				img {
					object-fit: cover;
					flex-grow: 1;
				}

				.screenshots {
					display: flex;
					align-content: stretch;
					flex-wrap: wrap;
					gap: 1vw;
				}

				&.bread {
					.two {
						width: 40%;
					}
					.three {
						width: 30%;
					}
				}
				&.crush {
					grid-template-columns: 1fr 50%;
					img {
						width: 50%;
					}
					
				}
			}

			// JAM CONTENT SPECIFICS
			&.bread {

				background-color: rgba(3, 0, 33, 0.696);
				* {
					font-size: 1vw;
				}

				h1 {
					font-size: 4vw;
					font-weight: 900;
					font-family: 'naot';
					margin-bottom: 0px;
				}
				

				h2 {
					font-size: 1.5vw;
				}
			}
			&.crush {
				
				background-color: rgba(88, 56, 0, 0.78);
			
				.description {
					row-gap: 2vw;
					padding: 0 2vw;
				}

				* {
					font-family: "dust-calli";
					font-size: 2.4vw;
					margin: 0;
					line-height: 70%;
				}

				h1 {
					font-size: 5vw;
				}
				h2 {
					font-size: 3vw;
				}

				button {
					p {
						margin: -0vw 0;
					}
				}
			}
		}

		&::before {
			content: "";
			transform: scale(1.05);
			background-size: cover;
			background-position: 50% 50%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			z-index: -1;

			transition: 500ms ease-out;
		}
		&.bread::before {
			background-image: url(/narrative-work/bread/title-night.jpg);
		}
		&.crush::before {
			background-image: url(/narrative-work/crush/sc-1.jpg);
		}

		&:hover {
			background-size: 100%;
		}
		&.dungeon:hover {
			background-size: auto 100%;
		}



		@media (max-width: 1080px) {

			* {
				text-align: center;
			}

			.jam-content {
				display: grid;
				grid-template-columns: 1fr;
				justify-content: center;
				align-items: center;
				padding: 10vw 8vw;

				row-gap: 6vw !important;
				
				.description {
					align-items: center;
					row-gap: 2vw;
					order: -1;
				}

				&.bread {
					padding-top: 30vw;
					@media (max-width: 720px) {
						padding-top: 45vw;
					}
					
					h1, h2, p {
						margin: 0;
					}
					h1 {
						font-size: 10vw;
					}
					h2 {
						font-size: 5vw;
					}
					p {
						font-size: 2.5vw;
						margin-bottom: 5vw;
					}
					
					
				}

				&.crush {
					flex-direction: column-reverse;
					h1 {
						font-size: 12vw;
					}
					h2 {
						font-size: 6vw;
					}
					.description {
						row-gap: 2vw;
					}

				}

				.details {
					grid-template-columns: 1fr !important;
					row-gap: 6vw;
				}
			}
		}
	}
}